<div class="page-header position-relative">
    <div class="header-title">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="header-buttons">
        <a title="Full Width" class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a title="Refresh" class="refresh" id="refresh-toggler" href="" onclick="location.reload();return false;" >
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a title="Full Screen" class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
        <a title="Print" class="hidden-print" onclick="window.print();return false;" href="#">
            <i class="glyphicon glyphicon-print"></i>
        </a>
        <a title="Keep Note" class="hidden-print"  href="#">
            <i class="glyphicon glyphicon-edit"></i>
        </a>

        @*<a title="Video Teleconferencing(Upcoming)" class="hidden-print" target="_blank" href="#" style="padding: 7px 6px;font-weight: bold;">VTC</a>
        <a title="Send Emil To Any Person" class="hidden-print" target="_blank" href="" style="padding: 7px 0px; font-weight: bold;">Email</a>
        <a title="Send To Any Person" class="hidden-print" target="_blank" href="" style="padding: 7px 4px; font-weight: bold;">SMS</a>*@

    </div>
</div>
