@using EMS.Framework.Utils
<div class="visible-print print-footer">
    <h5> @(EMS.Framework.Settings.SiteSettings.PoweredByFullText). @DateTime.Now.ToString("dd MMM,yyyy hh:mm:ss tt"). <span  class="pull-right">Printed By: @HttpUtil.Profile.Name</span></h5>
    <h5 class="text-center"></h5>
</div>