@using EMS.Framework.Settings
@{
    ViewBag.Title = "Statement of 17-18";
    Layout = "~/Areas/BasicAccounting/Views/Shared/_LayoutBasicAccounting.cshtml";
}

<div class="widget">
    <div class="widget-header bordered-bottom bordered-sky ">
        <i class="widget-icon fa fa-list bold  "></i>
        <span  class="widget-caption "><b> Statement of 17-18 </b></span>
    </div>
    <div class="widget-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <iframe src="~/Uploads/StaticReports/@SiteSettings.InstituteKey/accountReports/3-statements-17-18.pdf" style="height:600px; width: 100%;border:0px" frameborder="0"> </iframe>
            </div>
        </div>
    </div>
</div>








