@using EMS.CoreLibrary.Helpers
@using EMS.DataAccess.Data
@using EMS.Framework.Settings
@using EMS.Web.UI.Areas.Employee.Controllers.WebApi

@{

    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";
    var id = Request.QueryString["classId"];//ViewContext.RouteData.Values["id"];
    var classId = (string)id == null ? "0" : (string)id;
    id = Request.QueryString["componentSettingsId"];
    var componentSettingsId = (string)id == null ? "0" : (string)id;

    id = Request.QueryString["breakdownSettingsId"];
    var breakdownSettingsId = (string)id == null ? "0" : (string)id;

    id = Request.QueryString["markTypeEnumId"];
    var markTypeEnumId = (string)id == null ? "0" : (string)id;


    var editComponentMarkUrl = Url.Action("SubmitResultComponent", "ClassResultComponent", new { area = "Employee" });
    var editBreakdownMarkUrl = Url.Action("SubmitResultBreakdown", "ClassResultBreakdown", new { area = "Employee" });


    string routeUrl = "";

    var markHeadName = "";
    if (markTypeEnumId.ToInt32() == (byte)ClassResultComponentExcelUploadApiController.MarkTypeEnum.Breakdown)
    {
        markHeadName = ClassResultComponentExcelUploadApiController.MarkTypeEnum.Breakdown.ToString();
        routeUrl = editBreakdownMarkUrl + "/?classId=" + classId + "&breakdownSettingsId=" + breakdownSettingsId;
    }
    else if (markTypeEnumId.ToInt32() == (byte)ClassResultComponentExcelUploadApiController.MarkTypeEnum.Component)
    {
        markHeadName = ClassResultComponentExcelUploadApiController.MarkTypeEnum.Component.ToString();
        routeUrl = editComponentMarkUrl + "/?classId=" + classId+ "&componentSettingsId="+ componentSettingsId;

    }

    ViewBag.Title = markHeadName + " Wise Mark Excel Upload";





    //WebApi link for single row
    var getResultComponentExcelUploadDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassResultComponentExcelUploadApi", action = "GetResultComponentExcelUploadDataExtra", area = "Employee" });
    var uploadResultComponentExcelFileByClassIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassResultComponentExcelUploadApi", action = "UploadResultComponentExcelFileByClassId", area = "Employee" });
    var saveClassResultExcelMarkListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassResultComponentExcelUploadApi", action = "SaveClassResultExcelMarkList", area = "Employee" });


}


@section ScriptSection
{
    <script src="~/Areas/Employee/Views/ClassResultComponent/ResultComponentExcelUpload.js?v=1"></script>
}

<script>
    $(document).ready(function () {
        //console.log("ready!");
        collapseSidebar();
    });

</script>

<div ng-controller="ResultComponentExcelUploadCtrl"
     ng-init="Init(
     '@classId'
    ,'@componentSettingsId'
    ,'@breakdownSettingsId'
    ,'@markTypeEnumId'
    ,'@getResultComponentExcelUploadDataExtraUrl'
    ,'@uploadResultComponentExcelFileByClassIdUrl'
    ,'@saveClassResultExcelMarkListUrl'
    ,'@routeUrl'
     )"
     class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-sky">
                <span class="widget-caption">Upload Mark Excel File</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-palegreen">
                                <span class="widget-caption">Upload Mark Excel File</span>
                            </div>
                            <div class="widget-body" style="height: 288px;">
                                <div class="table-form">
                                    <table class="form ebl-drop-box" width="100%" border="0" cellspacing="2" cellpadding="3">
                                        <tbody>
                                        <tr>
                                            <td class="fieldlabel">Class Name:</td>
                                            <td class="fieldarea" colspan="3">
                                                {{ResultExcelUploadJson.Code}}: {{ResultExcelUploadJson.ClassName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fieldlabel">Program Name:</td>
                                            <td class="fieldarea" colspan="3">
                                                {{ResultExcelUploadJson.ProgramName}}
                                            </td>

                                        </tr>
                                            <tr>
                                                <td class="fieldlabel">@markHeadName Name:</td>
                                                <td class="fieldarea" colspan="3">
                                                   {{ResultExcelUploadJson.MarkHeadName}}
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="fieldlabel">Total Mark:</td>
                                                <td class="fieldarea" style="padding-left: 5px !important;">
                                                    {{ResultExcelUploadJson.TotalMark}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <form class="form-horizontal form-bordered" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-4 no-padding-right">
                                                <button type="file" class="btn btn-primary shiny"
                                                        ngf-drop ng-model="myFile" name="photoImage"
                                                        ngf-pattern="'.xlsx'"
                                                        ngf-accept="'.xlsx'"
                                                        accept=".xlsx"
                                                        ngf-max-files="1"
                                                        ngf-max-size="5MB"
                                                        ngf-select="progress=0;"
                                                        ng-click="cleanUIData()">
                                                    <i class="fa fa-file-excel-o"></i><span>1. Select file</span>
                                                </button>
                                            </div>
                                            <div class="col-sm-8" style="font-weight: bold">
                                                <p ng-show="myFile==null" class="red"><span>No file selected! {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}</span></p>
                                                <p ng-hide="myFile==null" class="colored-success">1.{{myFile.name}} (Size: {{myFile.size/1000+' KB'}}) </p>

                                            </div>
                                        </div>
                                        <div class="form-group" ng-hide="myFile==null">
                                            <div class="col-sm-4 no-padding-right">
                                                <div class="">
                                                    <button class="btn btn-success" ng-click="uploadResultComponentExcelFileByClassId()"><i class="fa fa-check"></i>2. Validated File</button>

                                                </div>
                                            </div>
                                            <div class="col-sm-8 ">
                                                <div class="progress progress-shadowed progress-bordered" ng-show="progress>0 && myFile!=null">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: {{progress}}% " ng-bind="progress + '%'">
                                                        <span>
                                                            {{progress}}% Complete
                                                        </span>
                                                    </div>
                                                </div>
                                                <span ng-show="progress==100"><i class="fa fa-check"></i> File uploaded, please wait for processing!</span>
                                                <span class="err" ng-show="HasError">{{errorMsg}}</span>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div @*ng-show="IsSummaryShow"*@ class="col-lg-6 col-sm-6 col-xs-12">

                        <div class="widget">
                            <div class="tabbable">
                                <ul class="nav nav-tabs" id="myTab9">
                                    <li class="active"><a data-toggle="tab" href="#UploadInstructions" aria-expanded="true">Upload Instructions</a></li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <div id="UploadInstructions" class="tab-pane active">
                                        <div class="widget-body" style="height: 279px;">
                                            <form class="form-horizontal form-bordered" role="form">
                                                <div id="horizontal-form">

                                                    <div class="alert alert-warning fade in">
                                                        <i class="fa-fw fa fa-exclamation-triangle"></i>
                                                        <strong>Attention!</strong> You must upload only .xlsx file and follow the instructions:
                                                        <p>
                                                            <span class="badge badge-success">Step 1</span> Select Valid Excel File for Upload. (You can download a Valid Example File Format).
                                                            <a href="~/Uploads/SampleFiles/MarkExcelUploadFileFormat.xlsx" class="btn btn-xs btn-default">click here to download <i class="fa fa-download"></i></a>
                                                        </p>
                                                        <p>
                                                            <span class="badge badge-success">Step 2</span> Validated Excel File Before Final Submit.
                                                        </p>
                                                        <p>
                                                            <span class="badge badge-success">Step 3</span> Must Correct if Any Error (Red Color) found in the Excel, then upload corrected file again. You can Ignore Warnings (Yellow Color).
                                                        </p>
                                                        <p>
                                                            <span class="badge badge-success">Step 4</span> Once all Errors are found correct, Then Press <kbd>Confirm & Save</kbd> for final Submission.
                                                        </p>
                                                        <p>
                                                            <span class="badge badge-success">Step 5</span> If all data update successfully system will give a green message.
                                                        </p>
                                                    </div>


                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @*<div class="widget-header bordered-bottom bordered-palegreen">
                                    <span class="widget-caption">Upload Information</span>
                                </div>*@

                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        @* Validation or Other Error *@
                        <div ng-Hide="!HasError " class="alert alert-danger fade in radius-bordered alert-shadowed">
                            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
                            <i class="fa-fw fa fa-warning"></i>
                            <strong>Attention Please!</strong> {{ErrorMsg}}
                        </div>
                        @* Error data found *@
                        <div ng-Hide="!HasErrorData" class="alert alert-danger fade in radius-bordered alert-shadowed">
                            <button ng-click="HasErrorData=false" class="close" data-dismiss1="alert">×</button>
                            <i class="fa-fw fa fa-warning"></i>
                            <strong>Attention Please!</strong> Error data found! First solve those, then try again.
                        </div>

                        <div ng-Hide="!IsSuccessfullyCreditSaving" class="alert alert-success fade in radius-bordered alert-shadowed">
                            <button ng-click="HasErrorData=false" class="close" data-dismiss1="alert">×</button>
                            <i class="fa-fw fa fa-warning"></i>
                            <strong>Successfully all data upload.</strong>
                        </div>

                        <div class="widget"
                             ng-show="(ResultExcelUploadJson.ClassStudentMarkJsonList | filter:{ReportStatusEnumId:@((byte) ClassResultComponentExcelUploadApiController.ReportStatusEnum.Error)}).length>0">
                            <div class="widget-header bg-danger bordered-bottom">
                                <span class="widget-caption"><b>Errors: </b>Invalid Data Found (Below Marks will not Update in Database)</span>
                            </div>
                            <div class="widget-body">
                                <div>
                                    <table class="table table-striped table-bordered table-hover mark-input">
                                        <thead class="bordered-blue">
                                            <tr>
                                                <th class="text-center" style="width: 60px;">No</th>
                                                <th class="text-center" style="width: 325px;">Student Name</th>
                                                <th class="text-center" style="width: 126px;">Student ID</th>
                                                <th class="text-center" style="width: 100px;">Mark</th>
                                                @*<th class="text-center" style="width: 300px;">Remark</th>*@
                                                <th class="text-center" >Error</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in ResultExcelUploadJson.ClassStudentMarkJsonList | filter:{ReportStatusEnumId:@((byte) ClassResultComponentExcelUploadApiController.ReportStatusEnum.Error)}">
                                                <td class="text-center">
                                                    {{$index+1}}
                                                </td>
                                                <td>{{row.StudentFullName}}</td>
                                                <td class="text-center">{{row.StudentUserName}}</td>
                                                <td class="text-center">{{row.Mark}}</td>
                                                @*<td class="text-center">{{row.Remark}}</td>*@
                                                <td class="text-center" ng-bind-html="renderHtml(row.Error)"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="widget"
                             ng-show="(ResultExcelUploadJson.ClassStudentMarkJsonList| filter:{ReportStatusEnumId:@((byte) ClassResultComponentExcelUploadApiController.ReportStatusEnum.NotFoundInExcel)}).length>0">
                            <div class="widget-header bordered-bottom bg-warning">
                                <span class="widget-caption"> <b>Warnings : </b>Below Students Mark will not Update in Database, Because those student not found in excel but exist in class.</span>
                            </div>
                            <div class="widget-body">
                                <div>
                                    <table class="table table-striped table-bordered table-hover mark-input">
                                        <thead class="bordered-blue">
                                            <tr>
                                                <th class="text-center" style="width: 60px;">No</th>
                                                <th class="text-center" style="width: 325px;">Student Name</th>
                                                <th class="text-center" style="width: 126px;">Student ID</th>
                                                <th class="text-center">Message</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        <tr ng-repeat="row in ResultExcelUploadJson.ClassStudentMarkJsonList| filter:{ReportStatusEnumId:@((byte)ClassResultComponentExcelUploadApiController.ReportStatusEnum.NotFoundInExcel)}">
                                            <td class="text-center">
                                                {{$index+1}}
                                            </td>
                                            <td>{{row.StudentFullName}}</td>
                                            <td class="text-center">{{row.StudentUserName}}</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="widget"
                             ng-show="(ResultExcelUploadJson.ClassStudentMarkJsonList| filter:{ReportStatusEnumId:@((byte) ClassResultComponentExcelUploadApiController.ReportStatusEnum.Success)}).length>0">
                            <div class="widget-header bordered-bottom bg-success">
                                <span class="widget-caption">Valid Students (Press Confirm Button, to Update Below Mark in Database)</span>
                            </div>
                            <div class="widget-body">
                                <div>
                                    <table class="table table-striped table-bordered table-hover mark-input">
                                        <thead class="bordered-blue">
                                            <tr>
                                                <th class="text-center" style="width: 60px;">No</th>
                                                <th class="text-center" style="width: 325px;">Student Name</th>
                                                <th class="text-center" style="width: 126px;">Student ID</th>
                                                <th class="text-center" style="width: 100px;">Mark</th>
                                                <th class="text-center"></th>
                                                @*<th class="text-center">Remark</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        <tr ng-repeat="row in  ResultExcelUploadJson.ClassStudentMarkJsonList| filter:{ReportStatusEnumId:@((byte)ClassResultComponentExcelUploadApiController.ReportStatusEnum.Success)}">
                                            <td class="text-center">
                                                {{$index+1}}
                                            </td>
                                            <td>{{row.StudentFullName}}</td>
                                            <td class="text-center">{{row.StudentUserName}}</td>
                                            <td class="text-center">
                                                <span ng-show="row.AttendanceTypeEnumId==@((byte) Aca_ResultComponent.AttendanceTypeEnum.Present)">
                                                    {{row.Mark}}
                                                </span>
                                                <span ng-show="row.AttendanceTypeEnumId==@((byte) Aca_ResultComponent.AttendanceTypeEnum.Absent)">
                                                    {{row.AttendanceType}}
                                                </span>
                                            </td>
                                            <td class="text-center"></td>
                                            @*<td class="text-center">{{row.Remark}}</td>*@
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" style="margin-top: 10px;">
                            <div class="danger"
                                 style="margin-bottom: 10px;"
                                 ng-show="((ResultExcelUploadJson.ClassStudentMarkJsonList| filter:{ReportStatusEnumId:@((byte) ClassResultComponentExcelUploadApiController.ReportStatusEnum.Error)}).length>0
                             && ResultExcelUploadJson.ClassStudentMarkJsonList != null && ResultExcelUploadJson.ClassStudentMarkJsonList.length != 0)">
                                <kbd class="badge-danger">Note:</kbd>
                                <b>
                                     Please Correct the Error (Red Color) found in the Excel, then upload corrected file again.
                                </b>
                                
                            </div>
                            <button ng-click="saveClassResultExcelMarkList()"
                                    ng-disabled="((ResultExcelUploadJson.ClassStudentMarkJsonList| filter:{ReportStatusEnumId:@((byte) ClassResultComponentExcelUploadApiController.ReportStatusEnum.Error)}).length>0
                             || ResultExcelUploadJson.ClassStudentMarkJsonList == null || ResultExcelUploadJson.ClassStudentMarkJsonList.length == 0)"
                                    class="btn btn-success">
                                <i class="fa fa-upload"></i>3. Confirm & Save
                            </button>
                        </div>
                    </div>

                </div><!--Widget Body-->
            </div>
        </div>
    </div>

</div>

<style>
    .ebl-drop-box input, .ebl-drop-box optgroup, .ebl-drop-box select, .ebl-drop-box textarea {
        height: 25px !important;
        font-size: 12px;
    }

    .upload-information {
        color: red;
    }
</style>

<script>
    function getFileSize(bytes, decimals) {
        alert(bytes)
        if (bytes == 0) return '0 Byte';
        var k = 1000; // or 1024 for binary
        var dm = decimals + 1 || 3;
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
        var i = Math.floor(Math.log(bytes) / Math.log(k));
        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    }
</script>