
<div class="row">
    <!--Col start-->
    <div class="col-md-6 table-form">
        <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
            <tbody>
                <tr>
                    <td class="fieldlabel">Ems Link </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.EmsLink" class="form-control" placeholder="Enter Ems Link" required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Ems Link." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Website </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteWebsite" class="form-control" placeholder="Enter Institute Website" required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Website." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute It Support Link </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteItSupportLink" class="form-control" placeholder="Enter Institute It Support Link" required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute It Support Link." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Address </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteAddress" class="form-control" placeholder="Enter Institute Address" maxlength="50" required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Address." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Email </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteEmail" class="form-control " placeholder="Enter Institute Email" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Email." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Name </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteName" class="form-control" placeholder="Enter Institute Name" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Name." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Short Name </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteShortName" class="form-control" placeholder="Enter Institute Short Name" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Short Name." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Domain </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteDomain" class="form-control" placeholder="Enter Institute Domain" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Domain." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Credit Prefix</td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteCreditPrefix" class="form-control" placeholder="Enter Institute Credit Prefix" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Credit Prefix." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Credit </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteCredit" class="form-control" placeholder="Enter Institute Credit" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Credit." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Registration Office Cell No </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteRegistrationOfficeCellNo" class="form-control" placeholder="Enter Institute Registration Office Cell No " required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Registration Office Cell No ." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Exam Office Cell No </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteExamOfficeCellNo" class="form-control" placeholder="Enter Institute Exam Office Cell No " maxlength="50" required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Exam Office Cell No ." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Account Office Cell No </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteAccountOfficeCellNo" class="form-control " placeholder="Enter Institute Account Office Cell No" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Account Office Cell No." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Admission Office Cell No </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteAdmissionOfficeCellNo" class="form-control" placeholder="Enter Institute Admission Office Cell No " />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Admission Office Cell No ." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Admission Office Land Phone No </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteAdmissionOfficeLandPhoneNo" class="form-control" placeholder="Enter Institute Admission Office Land Phone No " />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Admission Office Land Phone No ." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Institute Ict Office Cell No</td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.InstituteIctOfficeCellNo" class="form-control" placeholder="Enter Institute Ict Office Cell No" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Ict Office Cell No." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Is Auto Gen Student Id Prefix</td>
                    <td class="fieldarea">
                        <input type="radio" ng-model="SiteSettings.IsAutoGenStudentIdPrefix" class="radio-inline" ng-value="true" /> Yes
                        <input type="radio" ng-model="SiteSettings.IsAutoGenStudentIdPrefix" class="radio-inline" ng-value="false" /> No
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Institute Credit Prefix." data-toggle="tooltip"></i></span></td>
                </tr>

            <tr>
                    <td class="fieldlabel"> Auto Grade Grace Mark </td>
                    <td class="fieldarea">
                        <input type="number" ng-model="SiteSettings.AutoGradeGraceMark" class="form-control" placeholder="Enter Auto Grade Grace Mark " required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Auto Grade Grace Mark ." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Absent Grade Id </td>
                    <td class="fieldarea">
                        <select ng-model="SiteSettings.AbsentGradeIdStr" ng-options="option.Id as option.Grade for option in GradeList" title="Select Type" class="form-control">
                            <option value="" label="" class="">---Select One---</option>
                        </select>
                        @*<input type="text" ng-model="SiteSettings.AbsentGradeIdStr" class="form-control" placeholder="Enter Absent Grade Id " required=""/>*@
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Absent Grade Id ." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Absent Mark Symbol </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.AbsentMarkSymbol" class="form-control" placeholder="Enter Absent Mark Symbol" required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Absent Mark Symbol." data-toggle="tooltip"></i></span></td>
                </tr>

            <tr>
                <td class="fieldlabel"> Maximum Improve Exam Allow Grade Id</td>
                <td class="fieldarea">
                    <select ng-model="SiteSettings.MaximumImproveExamAllowGradeIdStr" ng-options="option.Id as option.Grade for option in GradeList" title="Select Type" class="form-control">
                        <option value="" label="" class="">---Select One---</option>
                    </select>
                    @*<input type="text" ng-model="SiteSettings.Instance.MaximumImproveExamAllowGradeIdStr" class="form-control" placeholder="Enter Maximum Improve Exam Allow Grade Id" required=""/>*@
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Maximum Improve Exam Allow Grade Id." data-toggle="tooltip"></i></span></td>
            </tr>

                <tr>
                    <td class="fieldlabel">Is Online Result Open </td>
                    <td class="fieldarea">
                        <input type="radio" ng-model="SiteSettings.IsOnlineResultOpen" class="radio-inline" ng-value="true" /> Yes
                        <input type="radio" ng-model="SiteSettings.IsOnlineResultOpen" class="radio-inline" ng-value="false" /> No
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Online Result Open." data-toggle="tooltip"></i></span></td>
                </tr>
            <tr>
                <td class="fieldlabel">Credit Transfer Bill Generate Type </td>
                <td class="fieldarea">
                    <select ng-model="SiteSettings.CreditTransBillGenType" ng-options="option.Id as option.Name for option in CreditTransBillGenTypeEnumList" title="Select Type" ng-init="" class="form-control">
                        <option value="" label="" class="">---Select One---</option>
                    </select>
                    @*<input type="number" ng-model="SiteSettings.SuppleExamFeeParticularId" class="form-control" placeholder="Enter Supple Exam Fee Particular Id" required=""/>*@
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Credit Trans Bill Generate Type." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Is Show Admission Fee Due </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.StudentPaymentCollectionPanel.IsShowAdmissionFeeDue" class="radio-inline" ng-value="true" />Yes
                    <input type="radio" ng-model="SiteSettings.StudentPaymentCollectionPanel.IsShowAdmissionFeeDue" class="radio-inline" ng-value="false" />No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Std Payment Collection Settings." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Is Show Midterm Bill </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.StudentPaymentCollectionPanel.IsShowMidtermBill" class="radio-inline" ng-value="true" />Yes
                    <input type="radio" ng-model="SiteSettings.StudentPaymentCollectionPanel.IsShowMidtermBill" class="radio-inline" ng-value="false" />No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Is Show Midter Bill." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Is Show Mid Term Due </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.StudentPaymentCollectionPanel.IsShowMidTermDue" class="radio-inline" ng-value="true" />Yes
                    <input type="radio" ng-model="SiteSettings.StudentPaymentCollectionPanel.IsShowMidTermDue" class="radio-inline" ng-value="false" />No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Is Show Midterm Due." data-toggle="tooltip"></i></span></td>
            </tr>

            </tbody>
        </table>
    </div><!--Col end-->
    <!--Col start-->
    <div class="col-md-6 table-form">
        <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
            <tbody>
            <tr>
                <td class="fieldlabel">Is Baust Online Result Open </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.IsBaustOnlineResultOpen" class="radio-inline" ng-value="true" /> Yes
                    <input type="radio" ng-model="SiteSettings.IsBaustOnlineResultOpen" class="radio-inline" ng-value="false" /> No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Online Result Open." data-toggle="tooltip"></i></span></td>
            </tr>
                <tr>
                    <td class="fieldlabel">Is Force Varify Student Email </td>
                    <td class="fieldarea">
                        <input type="radio" ng-model="SiteSettings.IsForceVarifyStudentEmail" class="radio-inline" ng-value="true" /> Yes
                        <input type="radio" ng-model="SiteSettings.IsForceVarifyStudentEmail" class="radio-inline" ng-value="false" /> No
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Force Varify Student Email." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Is Force Change Student Password </td>
                    <td class="fieldarea">
                        <input type="radio" ng-model="SiteSettings.IsForceChangeStudentPassword" class="radio-inline" ng-value="true" /> Yes
                        <input type="radio" ng-model="SiteSettings.IsForceChangeStudentPassword" class="radio-inline" ng-value="false" /> No
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Force Change Student Password." data-toggle="tooltip"></i></span></td>
                </tr>
            <tr>
                <td class="fieldlabel">How To Login Tutorial Url </td>
                <td class="fieldarea">
                    <input type="text" ng-model="SiteSettings.HowToLoginTutorialUrl" class="form-control" placeholder="Enter How To Login Tutorial Url" required="" />
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter How To Login Tutorial Url." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">How To Pay through bKash Online Url </td>
                <td class="fieldarea">
                    <input type="text" ng-model="SiteSettings.HowToPayOnlineThroughbKashUrl" class="form-control" placeholder="Enter How To Pay through bKash Online Url" required="" />
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter How To Pay through bKash Online Url." data-toggle="tooltip"></i></span></td>
            </tr>
                <tr>
                    <td class="fieldlabel">Password Change Tutorial Url </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.PasswordChangeTutorialUrl" class="form-control" placeholder="Enter Password Change Tutorial Url" required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Password Change Tutorial Url." data-toggle="tooltip"></i></span></td>
                </tr>
                <tr>
                    <td class="fieldlabel">Email Verify Tutorial Url </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.EmailVarifyTutorialUrl" class="form-control" placeholder="Enter Email Verify Tutorial Url" required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Email Verify Tutorial Url." data-toggle="tooltip"></i></span></td>
                </tr>
            <tr>
                <td class="fieldlabel">Is Mid term Exam Enable </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.IsMidtermExamEnable" class="radio-inline" ng-value="true"/> Yes
                    <input type="radio" ng-model="SiteSettings.IsMidtermExamEnable" class="radio-inline" ng-value="false"/> No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Mid term Exam Enable." data-toggle="tooltip"></i></span></td>
            </tr>
                <tr>
                    <td class="fieldlabel">Is Show Amount In Student Due </td>
                    <td class="fieldarea">
                        <input type="radio" ng-model="SiteSettings.IsShowAmountInStudentDue" class="radio-inline" ng-value="true" /> Yes
                        <input type="radio" ng-model="SiteSettings.IsShowAmountInStudentDue" class="radio-inline" ng-value="false" /> No
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Show Amount In Student Due." data-toggle="tooltip"></i></span></td>
                </tr>
            <tr>
                <td class="fieldlabel">Supple Exam Fee Particular Id </td>
                <td class="fieldarea">
                    <select ng-model="SiteSettings.SuppleExamFeeParticularId" ng-options="option.Id as option.Name for option in ParticularList" title="Select Type" ng-init="" class="form-control">
                        <option value="" label="" class="">---Select One---</option>
                    </select>
                    @*<input type="number" ng-model="SiteSettings.SuppleExamFeeParticularId" class="form-control" placeholder="Enter Supple Exam Fee Particular Id" required=""/>*@
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Supple Exam Fee Particular Id." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Supple Exam View Name </td>
                <td class="fieldarea">
                    <input type="text" ng-model="SiteSettings.SuppleExamViewName" class="form-control" placeholder="Enter Supple Exam View Name" required=""/>
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Supple Exam View Name." data-toggle="tooltip"></i></span></td>
            </tr>
            
            <tr>
                <td class="fieldlabel">Re-Admission Fee Particular Id </td>
                <td class="fieldarea">
                    <select ng-model="SiteSettings.ReAdmissionFeeParticularId" ng-options="option.Id as option.Name for option in ParticularList" title="Select Type" ng-init="" class="form-control">
                        <option value="" label="" class="">---Select One---</option>
                    </select>
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Re-Admission Fee Particular Id." data-toggle="tooltip"></i></span></td>
            </tr>


            <tr>
                <td class="fieldlabel">Is Auto Generate Semester Fees</td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.IsAutoGenerateSemesterFees" class="radio-inline" ng-value="true"/> Yes
                    <input type="radio" ng-model="SiteSettings.IsAutoGenerateSemesterFees" class="radio-inline" ng-value="false"/> No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Auto Generate Semester Fees." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Start Semester Id For Auto Generate Semester Fees For (4M) </td>
                <td class="fieldarea">
                    <input type="text" ng-model="SiteSettings.StartSemesterIdForAutoGenerateSemesterFeesFor4M" class="form-control" placeholder="Enter Start Semester Id For Auto Generate Semester Fees For 4M " required=""/>
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter null for all semester." data-toggle="tooltip"></i></span></td>
            </tr>
                <tr>
                    <td class="fieldlabel">Start Semester Id For Auto Generate Semester Fees For (6M) </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="SiteSettings.StartSemesterIdForAutoGenerateSemesterFeesFor6M" class="form-control" placeholder="Enter Start Semester Id For Auto Generate Semester Fees For 6M" required="" />
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter null for all semester." data-toggle="tooltip"></i></span></td>
                </tr>
            <tr>
                <td class="fieldlabel">Is Auto Generate One Time Fees </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.IsAutoGenerateOneTimeFees" class="radio-inline" ng-value="true"/> Yes
                    <input type="radio" ng-model="SiteSettings.IsAutoGenerateOneTimeFees" class="radio-inline" ng-value="false"/> No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Auto Generate One Time Fees." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel"> Start Semester Id For Auto Generate One Time Fees</td>
                <td class="fieldarea">
                    <input type="text" ng-model="SiteSettings.StartSemesterIdForAutoGenerateOneTimeFees" class="form-control" placeholder="Enter Start Semester Id For Auto Generate One Time Fees" required=""/>
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter null for all semester." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Mid term Payable In Percent </td>
                <td class="fieldarea">
                    <input type="number" ng-model="SiteSettings.MidtermPayableInPercent" class="form-control" placeholder="Enter Mid term Payable In Percent" required=""/>
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Mid term Payable In Percent." data-toggle="tooltip"></i></span></td>
            </tr>
                <tr>
                    <td colspan="3" class="fieldlabel pull-left">Online Std Reg Confirm Message</td>
                </tr>
                <tr>
                    <td colspan="2" class="fieldarea">
                        <textarea rows="2" type="text" ng-model="SiteSettings.OnlineStdRegConfirmMessage" class="form-control" placeholder="Enter IOnline Std Reg Confirm Message" required=""></textarea>
                    </td>
                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Online Std Reg Confirm Message." data-toggle="tooltip"></i></span></td>
                </tr>
            <tr>
                <td colspan="3" class="fieldlabel pull-left">Instructions For Std Payment Info</td>
            </tr>
            <tr>
                <td colspan="2" class="fieldarea">
                    <textarea rows="2" type="text" ng-model="SiteSettings.InstructionsForStdPaymentInfo" class="form-control" placeholder="Enter Instructions For Std Payment Info" required=""></textarea>
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Instructions For Std Payment Info." data-toggle="tooltip"></i></span></td>
            </tr>
            @*<tr>
                <td class="fieldlabel">Instructions For Std Payment Info </td>
                <td class="fieldarea">
                    <input type="text" ng-model="SiteSettings.InstructionsForStdPaymentInfo" class="form-control" placeholder="Enter Instructions For Std Payment Info" required=""/>
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Instructions For Std Payment Info." data-toggle="tooltip"></i></span></td>
            </tr>*@
            <tr>
                <td class="fieldlabel">Is Open Single Screen Mark Entry </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.IsOpenSingleScreenMarkEntry" class="radio-inline" ng-value="true"/> Yes
                    <input type="radio" ng-model="SiteSettings.IsOpenSingleScreenMarkEntry" class="radio-inline" ng-value="false"/> No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Open Single Screen Mark Entry." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Particular Id List For Last Semester Ignore Bill </td>
                <td class="fieldarea">
                    <input type="text" ng-model="SiteSettings.ParticularIdListForLastSemesterIgnoreBill" class="form-control" placeholder="Enter Particular Id List For Last Semester Ignore Bill" required="" />
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Particular Id List For Last Semester Ignore Bill." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Semester Bill Name Prefix Name </td>
                <td class="fieldarea">
                    <input type="text" ng-model="SiteSettings.SemesterBillNamePrefixName" class="form-control" placeholder="Enter Semester Bill Name Prefix Name" required="" />
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Semester Bill Name Prefix Name." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Is Append Number Of Semester Count With Semester Bill Name </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.IsAppendNumberOfSemesterCountWithSemesterBillName" class="radio-inline" ng-value="true" /> Yes
                    <input type="radio" ng-model="SiteSettings.IsAppendNumberOfSemesterCountWithSemesterBillName" class="radio-inline" ng-value="false" /> No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Is Open Single Screen Mark Entry." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Is Show Employee Contacts </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.IsShowEmployeeContacts" class="radio-inline" ng-value="true" />Yes
                    <input type="radio" ng-model="SiteSettings.IsShowEmployeeContacts" class="radio-inline" ng-value="false" />No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Is Show Employee Contacts." data-toggle="tooltip"></i></span></td>
            </tr>
            <tr>
                <td class="fieldlabel">Is Allow Multiple Login </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.IsMultiLoginAllow" class="radio-inline" ng-value="true" />Yes
                    <input type="radio" ng-model="SiteSettings.IsMultiLoginAllow" class="radio-inline" ng-value="false" />No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Is Allow Multiple Login." data-toggle="tooltip"></i></span></td>
            </tr>
            
            <tr>
                <td class="fieldlabel">Is Payroll System Enabled </td>
                <td class="fieldarea">
                    <input type="radio" ng-model="SiteSettings.IsPayrollSystemEnabled" class="radio-inline" ng-value="true" />Yes
                    <input type="radio" ng-model="SiteSettings.IsPayrollSystemEnabled" class="radio-inline" ng-value="false" />No
                </td>
                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Is Payroll System Enabled." data-toggle="tooltip"></i></span></td>
            </tr>

            </tbody>
        </table>
    </div><!--Col end-->


</div>

