<!--[if (IE)]> 

    <div class="alert alert-danger fade in">
        <strong>Sorry!</strong>
        For security issues and bug, old age "Internet Explorer Browser" is not supported for use this system, we strongly recommend you to use different browser. You can download following modern browser to continue...
    </div>
    <div class="browsers">
        <a id="fficon" class="firefox48" href="https://www.mozilla.org">Mozilla Firefox</a>
        <a id="cicon" class="chrome48 usbrowser" href="https://www.google.com/chrome/browser/">Google Chrome</a>
        <a id="oicon" class="opera48" href="http://www.opera.com/">Opera</a>
        <a id="sicon" class="safari48" href="http://www.apple.com/safari/">Apple Safari</a>
    </div>
<![endif]-->
<!--[if !(IE)]><!-->
<style>

</style>
<!--<![endif]-->