@using EMS.Framework.Settings
<div class="copyright-box" style="height:75px!important">
    <p class="text-center no-margin">
        @*@DateTime.Now.Year &copy; <a href="@SiteSettings.Instance.InstituteWebsite">@SiteSettings.Instance.InstituteShortName</a> All rights reserved.<br/>*@
        Developed, Designed & Powered by <br /><a href="@SiteSettings.CompanyWebsite">@SiteSettings.PoweredBy</a>
    </p>
</div>
