@using EMS.Framework.Settings
<div class="copyright">
    <p class="">
        @*@DateTime.Now.Year &copy; <a href="@SiteSettings.Instance.InstituteWebsite">@SiteSettings.Instance.InstituteShortName</a> All rights reserved.*@
        <span  class="pull-right">Developed, Designed & Powered by <a href="@SiteSettings.CompanyWebsite"> @SiteSettings.PoweredBy</a>.</span>
    </p>
</div>