@using EMS.DataAccess.Data

<br />

<div class="main-body" style="padding: 10px">




    <table class="table table-bordered" style="width: 100%" class="table-border">
        <thead>
        <tr>


            <th style="text-align: center"><a class="btn btn-blue" target="_blank" href="@Url.Action("StudentProfile", "Student", new {area = "Admission"})/?id={{Student.@User_Student.Property_UserId}}#Package-Information"><i class="fa-fw fa fa-search"></i> View Package & Discount Information</a></th>
        </tr>
        </thead>
    </table>
</div>

<br />