


    /* Code By Webdevtrick ( https://webdevtrick.com )  */
    .form-horizontal {
        background: white;
    }
    .container {
        margin-top: 10%;
    }
    .progress {
        height: 5px;
        margin-bottom: 3px;
    }
    .control-label {
        text-align: left !important;
        padding-bottom: 7px;
    }
    .form-horizontal {
        padding: 25px 20px;
        border: 2px solid #e8eaed;
        border-radius: 5px;
    }
    .fa-times {
        color: red;
    }
    .list-unstyled li span {
        margin-right: 5px;
    }