<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EMS.Reporting.Properties.Settings.ems" connectionString="Data Source=192.168.200.2;Initial Catalog=ems;Persist Security Info=True;User ID=sa;Password=M@$tdbT3st;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>