
<!--File:Acnt_FeeCode List View-->
@using EMS.DataAccess.Data;
@{

    var getVoucherWiseParticularSummaryDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudentCollectionReportApi", action = "GetVoucherWiseParticularSummaryDataExtra", area = "Accounts" });
    //WebApi link for List 
    var getVoucherWiseParticularSummaryUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudentCollectionReportApi", action = "GetVoucherWiseParticularSummary", area = "Accounts" });


    var voucherWiseCollectionReportUrl = Url.Action("VoucherWiseCollectionReport", "Report", new { area = "Accounts" });

    //Angular Function Name
    var refreshPage = "loadPage()";

}
<div ng-controller="VoucherWiseParticularSummaryCtrl"
     ng-init="Init(
     '@getVoucherWiseParticularSummaryDataExtraUrl'
     ,'@getVoucherWiseParticularSummaryUrl'
     )">
    <div ng-show="HasError" class="alert alert-danger fade in radius-bordered alert-shadowed">
        <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
        <i class="fa-fw fa fa-warning"></i>
        <strong>Attention Please!</strong> {{ErrorMsg}}
    </div>
    <div @*ng-show="HasViewPermission"*@>
        <div class="widget">
            <div class="widget-body no-padding" style="overflow: auto; background-color: #fff;">
               
                <table class="table table-bordered educationHistory" style="font-size: 11px;">
                    <thead class="show-on-print">
                    <tr>
                        <th style="text-align: center;" colspan="12"><strong>Report of Voucher Wise Summary</strong></th>
                    </tr>
                    <tr ng-hide="VoucherNo!=''" class="show-on-print">
                        <th style="text-align: center;" colspan="12">
                            <div>Program: <span ng-if="SelectedProgram==null">All Program</span>{{SelectedProgram.Name}} </div>
                            <div>Bank: <span ng-if="SelectedBank==null">All Bank</span>{{SelectedBank.Name}}</div>
                            <div>Particular: <span ng-if="SelectedParticularName==null">All Particular</span> {{SelectedParticularName.Name}}</div>
                            <div>Start Date: {{StartDate |date:'dd/M/yyyy'}}</div>
                            <div>End Date: {{EndDate |date:'dd/M/yyyy'}} </div>
                        </th>
                    </tr>
                    <tr ng-show="VoucherNo!=''" class="show-on-print">
                        <th style="text-align: center;" colspan="12">
                            <div>Voucher No: {{VoucherNo}} </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="hide-on-print">
                    <tr>
                        <td ng-hide="VoucherNo!=''" style="width: 50px;">Program:</td>
                        <td ng-hide="VoucherNo!=''" style="">
                            <select ng-model="SelectedProgram"
                                    ng-options="option as option.Name for option in ProgramList"
                                    title="Select Program" class="form-control">
                                <option value="" label="" class="">All Program</option>
                            </select>
                        </td>
                        <td ng-hide="VoucherNo!=''" style="width: 25px;">Bank: </td>
                        <td ng-hide="VoucherNo!=''">
                            <select ng-model="SelectedBank"
                                    ng-options="option as option.Name for option in OfficialBankList" title="Select Bank" class="form-control">
                                <option value="" label="" class="">All Bank</option>
                            </select>
                        </td>
                        <td ng-hide="VoucherNo!=''" style="width: 55px;">Particular: </td>
                        <td ng-hide="VoucherNo!=''">
                            <select ng-model="SelectedParticularName"
                                    ng-options="option as option.Name for option in ParticularNameList" title="Select Particular" class="form-control">
                                <option value="" label="" class="">All Particular</option>
                            </select>
                        </td>
                        <td ng-hide="VoucherNo!=''" style="width: 72px;">Start Date:</td>
                        <td ng-hide="VoucherNo!=''">
                            <input ng-model="StartDate" style="padding-left: 5px; width: 95px;" type="text" class="date-picker"/>
                        </td>
                        <td ng-hide="VoucherNo!=''" style="width: 66px;">End Date:</td>
                        <td ng-hide="VoucherNo!=''">
                            <input ng-model="EndDate" style="padding-left: 5px; width: 95px;" type="text" class="date-picker"/>
                        </td>
                        <td style="width: 82px;">Voucher No:</td>
                        <td>
                            <input ng-model="VoucherNo" ng-enter="getVoucherWiseParticularSummary()" style="padding-left: 5px; width: 120px;" type="text" placeholder="Voucher No"/>
                        </td>
                    </tr>
                    <tr class="hide-on-print">
                        <td style="text-align: center;" colspan="12">
                            <button class="btn btn-info" ng-click="getVoucherWiseParticularSummary()">
                                View Report
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 10px;" class="border-black main-body">
            <div ng-repeat="row in VoucherWiseSummaryList" style="margin-bottom: 10px;" >
                <table class="table no-border">
                    <tbody>
                    <tr>
                        <td class="bold-text">Voucher No:</td>
                        <td>
                            <a target="_blank" href="@(voucherWiseCollectionReportUrl)/?vid={{row.VoucherNo}}">{{row.VoucherNo}}</a>
                        </td>
                        <td class="bold-text">Voucher Date:</td>
                        <td>{{row.VoucherDate |date:'dd/M/yyyy'}}</td>
                        <td class="bold-text">Collection Date:</td>
                        <td>{{row.CollectionDate |date:'dd/M/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="bold-text">Bank:</td>
                        <td>{{row.BankName}}</td>
                        <td class="bold-text">Voucher Total:</td>
                        <td>{{row.VoucherTotalAmount}}</td>
                        <td class="bold-text" colspan="2">
                            <kbd ng-show="row.IsProblematicVoucher" style="background-color: #ecb614;">Multi Bank/Date</kbd>
                        </td>
                        
                    </tr>
                    </tbody>
                </table>
                <table class="report-table table-bordered table-border" style="width: 100%; text-align: center; margin-bottom: 15px;">
                    <thead class="bg-gray">
                    <tr style="font-weight: bold; font-size: 14px;">
                        <th>No</th>
                        <th>Particular Name</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="particular in row.ParticularList">
                    <tr style="font-weight: bold">
                        <td>{{$index+1}}</td>
                        <td>{{particular.ParticularName}}</td>
                        <td>{{particular.TotalAmount|number:2}}</td>
                    </tr>
                    </tbody>
                    <tbody ng-hide="Report.length==0">
                    <tr style="font-size: 13px; font-weight: bold;">
                        <td style="text-align: right;" colspan="2">Total of ({{row.CollectionDate |date:'dd/M/yyyy'}}):</td>
                        <td style="text-align: center;">{{row.VoucherCurrentDayTotalAmount|number:2}}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
            @* Total Summary *@
            <div ng-hide="Report.length==0">
                <h2 class="text-center">Summary</h2>
                <table class="report-table table-bordered table-border" style="width: 100%; text-align: center;">
                    <thead class="bg-gray">
                    <tr style="font-weight: bold; font-size: 14px;">
                        <th>No</th>
                        <th>Particular Name</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="row in Report">
                    <tr style="font-weight: bold">
                        <td>{{$index+1}}</td>
                        <td>{{row.ParticularName}}</td>
                        <td>{{row.TotalAmount|number:2}}</td>
                    </tr>
                    </tbody>
                    <tbody ng-hide="Report.length==0">
                    <tr style="font-size: 13px; font-weight: bold;">
                        <td style="text-align: right;" colspan="2">Grand Total:</td>
                        <td style="text-align: center;">{{GrandTotal|number:2}}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


<style>
    /*td:first-child {
        padding-left: 5px !important;
    }*/

    .main-body {
        width: 7.27in;
        margin: 0 auto;
    }

    table, tr, td, th {
        border-collapse: collapse;
    }
    .report-container tbody tr {
        font-size: 13px !important;
    }

    .trans-name {
        vertical-align: top; 
    }

    .trans-name div {
        margin-left: 15px;
        font-size: 11px;
        font-weight: normal;
    }

    .bg-gray {
        background-color: lightgray !important;
    }

    .text-bold {
        font-weight: bold;
    }

    table thead tr th {
        text-align: center;
    }

    .text-top {
        vertical-align: text-top;
    }

    .text-center {
        text-align: center !important;
    }

    .text-right {
        text-align: right !important;
    }
    table .no-border,
    table .no-border tr,
    table .no-border tr td
    {
        border: none;
    }
    .report-table  > tbody > tr > td,
    .report-table > thead > tr > th
    {
        border: 1px solid black !important;
    }
    .report-table > thead > tr > th
    {
        padding: 0px !important;
        
    }

</style>