<section id="counter" class="img-responsive streap-section streap-bg-img section-border-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="counter-title">
                <h4 class="counter-header2">
                    <span class="counter-header1">The Numbers Say it All</span><br>
                    Why Choose Us
                </h4>
            </div>
            <!-- Col End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- <div class="container">
       <div class="row"></div>
       </div> -->
    <div class="container wow fadeInUp" style="visibility: visible;  animation-delay: 0.5s;  animation-name: fadeInUp;">
        <div class=" row our-strength ">
            <a href="#">
                <div class=" col-md-3 col-sm-12 media-margin-top25">
                    <div class="icon">
                        <i class="fa fa-users media-font30"></i>
                    </div>
                    <div class="title media-font15">
                        <span class="counter media-font25">2100 +</span><br>
                        Students
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3 col-sm-12 media-margin-top25">
                    <div class="icon">
                        <i class="fa fa-user media-font30"></i>
                    </div>
                    <div class="title media-font15">
                        <span class="counter media-font25"> 100 +</span><br>
                        Faculty Members
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3 col-sm-12 media-margin-top25">
                    <div class="icon">
                        <i class="fa fa-graduation-cap media-font30"></i>
                    </div>
                    <div class="title media-font15">
                        <span class="counter media-font25">10</span><br>
                        Departments
                    </div>
                </div>
            </a>
            <a href="#">
                <div style="border-right: none;" class=" col-md-3 col-sm-12 media-margin-top25">
                    <div class="icon">
                        <i class="fa fa-support  media-font30"></i>
                    </div>
                    <div class="title media-font15"> <span class="counter media-font25">80 +</span><br> Officers & Staffs</div>
                </div>
            </a>
        </div>
    </div>
    <!-- Row End -->
    <!-- Container end -->
</section>