@{
    var getEmployeeAddEditUrl = Url.Action("UpdateEmployee", "ManageEmployee", new { area = "HR" });
}

<div class="widget">
    <div class="widget-header bordered-bottom bordered-green">
        <i class="widget-icon fa fa-list"></i>
        <span class="widget-caption">
            Supple Course List
        </span>
        <div class="widget-buttons buttons-bordered">
            <button ng-click="getSuppleCourseListByExamIdByProgramId()"
                    class="btn btn-xs btn-info">
                <i class="fa fa-refresh"></i> Refresh
            </button>
        </div>
    </div>
    <div class="widget-body">

        <table class="table table-striped table-bordered">
            <thead class="bordered-blue">
                <tr>
                    <th class="text-center" style="width: 31px;">Ser</th>
                    <th class="text-center">Courses</th>
                    <th class="text-center">Applied From</th>
                    <th class="text-center">Applicant</th>
                    <th class="text-center">Examiner</th>
                    <th class="text-center no-print" style="width: 335px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in CourseList">

                    <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                    <td class="">
                        <strong>{{row.Code}} {{row.Name}}</strong><br />
                        <em>
                            Cr.Hr: {{row.CreditHour|number:2}},
                            {{row.CourseCategory}}
                        </em>
                        <br/>
                        {{row.ProgramShortTitle}}
                        
                    </td>
                    <td>
                        Total Batch: {{row.TotalBatch}}
                        <br />
                        Total Semester: {{row.TotalSemester}}
                        <br />
                        Total Class: {{row.TotalClass}}
                        <br />
                        Total Referred: {{row.TotalReferred}}
                        <br />
                        Total Backlog: {{row.TotalBacklog}}
                    </td>
                    <td>
                        <div>
                            <span class="badge badge-success">
                                Approved: {{row.TotalApproved}}
                            </span>
                        </div>
                        <div>
                            <span class="badge badge-warning">
                                Pending: {{row.TotalPending}}
                            </span>
                        </div>
                        <div>
                            <span class="badge badge-danger">
                                Disapproved: {{row.TotalDisapproved}}
                            </span>
                        </div>
                    </td>
                    <td>
                        <ol class="no-margin" ng-show="row.TotalExaminer>0" style="-webkit-padding-start: 20px;">
                            <li ng-repeat="examiner in row.ExaminerList">
                                <a href="@(getEmployeeAddEditUrl)?id={{examiner.EmployeeId}}" target="_blank" title="click to view profile.">
                                    {{examiner.FullName}}
                                </a>
                            </li>
                        </ol>
                        <span class="badge badge-danger" ng-hide="row.TotalExaminer>0">Examiner is not allotted</span>
                    </td>
                    <td class="text-center no-print" style="vertical-align: middle;">
                        @*<button ng-click="applicantTabShow(row)"
                                    class="btn btn-default btn-xs btn-success">
                                <i class="fa fa-users"></i>
                                View Applicant
                            </button>
                            <button ng-click="examinerTabShow(row)"
                                    class="btn btn-default btn-xs btn-success">
                                <i class="fa fa-users"></i>
                                View Examiner
                            </button>
                            <button ng-click="detailsTabShow(row)"
                                    class="btn btn-default btn-xs btn-success">
                                <i class="fa fa-files-o"></i>
                                Details
                            </button>*@
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>