@using EMS.DataAccess.Data
@{
    //WebApi link for single row
    var getClassRoutineByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassRoutineApi", action = "GetClassRoutineById", area = "Academic" });
    var getClassRoutineDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassRoutineApi", action = "GetClassRoutineDataExtra", area = "Academic" });
    var saveClassRoutineUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassRoutineApi", action = "SaveClassRoutine", area = "Academic" });
    var deleteClassRoutineByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassRoutineApi", action = "GetDeleteClassRoutineById", area = "Academic" });

    //WebApi link for List
    var getPagedClassRoutineUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassRoutineApi", action = "GetPagedClassRoutine", area = "Academic" });
    var getAllClassRoutineUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassRoutineApi", action = "GetAllClassRoutine", area = "Academic" });
    var saveClassRoutineListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassRoutineApi", action = "SaveClassRoutineList", area = "Academic" });
    var getClassRoutineListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ClassRoutineApi", action = "GetClassRoutineListDataExtra", area = "Academic" });

    var editClassRoutineByIdPageUrl = Url.Action("ClassRoutineAddEdit", "ClassRoutine", new { area = "Academic" });

    //Angular Function Name
    var getNewClassRoutine = "getNewClassRoutine";
    var saveClassRoutine = "saveClassRoutine";
    var deleteClassRoutineById = "deleteClassRoutineById";
    var deleteClassRoutineByObj = "deleteClassRoutineByObj";
    //for list
    var searchClassRoutineList = "searchClassRoutineList";
    var getPagedClassRoutineList = "getPagedClassRoutineList";
    var getAllClassRoutineList = "getAllClassRoutineList";
    var saveClassRoutineList = "saveClassRoutineList";
    var getClassRoutineListExtraData = "getClassRoutineListExtraData";

    var refreshPage = "loadPage()";
}
<div class="widget">
    <div class="widget-header bg-blueberry">
        <i class="widget-icon fa fa-compass"></i>
        <span  class="widget-caption">Class Routine</span>
        <div class="widget-buttons buttons-bordered no-padding-right">
            <button ng-click="addNewClassRoutine()"
                    type="button" class="btn btn-xs btn-success"
                    data-toggle="modal" data-target="#addClassRoutineModal">
                <i class="fa fa-plus"></i> Add New
            </button>
            <button ng-click="@(searchClassRoutineList)()" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
        </div>
        <div class="widget-buttons">
            <a href="#" data-toggle="maximize">
                <i class="fa fa-expand"></i>
            </a>
            <a href="#" data-toggle="collapse">
                <i class="fa fa-minus"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <table class="table table-striped table-bordered table-hover">
            <thead class="bordered-blue">
                <tr>
                    <th class="text-center" style="display:none">
                        <input type="checkbox" ng-click="selectAll($event)">
                    </th>
                    <th class="text-center" style="width: 35px;">SN</th>
                    <th class="text-center" style="width: 100px;">Day</th>
                    <th class="text-center" style="width: 85px;">Start Time</th>
                    <th class="text-center" style="width: 85px;">End Time</th>
                    <th class="text-center">Room</th>
                    <th class="text-center">Employee</th>
                    <th class="">Remarks</th>
                    <th class="text-center no-print" style="width: 100px;">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="row in ClassRoutineList">
                    <td class="text-center" style="display:none">
                        <input type="checkbox" ng-model="row.@Aca_ClassRoutine.Property_IsSelected" />
                    </td>
                    <td class="text-center">{{$index+1}}</td>
                    <td class="text-center">{{row.@Aca_ClassRoutine.Property_Day}}</td>
                    <td class="text-center">{{row.@Aca_ClassRoutine.Property_StartTime|date:'hh:mm a'}}</td>
                    <td class="text-center">{{row.@Aca_ClassRoutine.Property_EndTime|date:'hh:mm a'}}</td>
                    <td class="text-center">
                        <span  ng-show="row.@Aca_ClassRoutine.Property_RoomId==null">N/A</span>
                        <span  ng-hide="row.@Aca_ClassRoutine.Property_RoomId==null">{{row.General_RoomJson.RoomDetails}}</span>
                    </td>
                    <td class="text-center">{{row.User_EmployeeJson.FullName}}</td>
                    <td class="text-center">{{row.@Aca_ClassRoutine.Property_Remarks}}</td>
                    <td class="text-center no-print">
                        <button ng-click="editClassRoutine(row.Id)"
                                type="button" class="btn btn-xs btn-primary"
                                data-toggle="modal" data-target="#addClassRoutineModal">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button ng-click="@(deleteClassRoutineById)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addClassRoutineModal" tabindex="-1" role="dialog" aria-labelledby="addClassRoutineModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addClassRoutineModalLabel">Class Routine</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Day </label>
                        <select ng-model="ClassRoutine.@Aca_ClassRoutine.Property_DayEnumId" ng-options="option.Id as option.Name for option in DayEnumList " ng-init="" class="form-control input-lg"></select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Start Time (24 Hour format)</label>
                        <div class="input-group">
                            <span  class="input-icon icon-right">
                                <input type="text" ng-model="ClassRoutine.@Aca_ClassRoutine.Property_StartTime" class="form-control input-lg time-picker">
                                <i class="fa fa-clock-o success circular"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">End Time (24 Hour format)</label>
                        <div class="input-group">
                            <span  class="input-icon icon-right">
                                <input type="text" ng-model="ClassRoutine.@Aca_ClassRoutine.Property_EndTime" class="form-control input-lg time-picker">
                                <i class="fa fa-clock-o success circular"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Room </label>
                        <select ng-model="ClassRoutine.@Aca_ClassRoutine.Property_RoomId"
                                ng-options="option.Id as option.RoomNo+'-'+option.Name+' (Capacity: '+option.SeatCapacityRegular+', Dept: '+option.DeptShortName+')' group by option.BuildingName for option in RoomList " 
                                ng-init="" class="form-control">
                            <option value="" label="" class="">---Select Class Room---</option>
                        </select>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Employee </label>
                        <select ng-model="ClassRoutine.@Aca_ClassRoutine.Property_EmployeeId"
                                ng-options="option.EmployeeId as (option.Employee.FullName +' ['+option.Employee.UserName+']') for option in ClassTeacherList|filter:{@Aca_ClassTakenByEmployee.Property_RoleEnumId:@((byte) Aca_ClassTakenByEmployee.RoleEnum.Faculty)} "
                                ng-init="" class="form-control">
                            <option value="" label="" class="">All Faculty in this Class</option>
                        </select>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Remarks </label>
                        <textarea ng-model="ClassRoutine.@Aca_ClassRoutine.Property_Remarks" class="form-control" placeholder="Enter Remarks"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    <button type="button"
                            ng-click="saveClassRoutine()"
                            class="btn btn-success">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->