@using EMS.Framework.Utils
@model EMS.Web.UI.Areas.Academic.Models.ClassAttendanceViewModel

@{
    ViewBag.Title = "Print All Attendance";
    Layout = "~/Views/Shared/Area/_LayoutAdminCore.cshtml";
    var index = 0;
    var lectureNo = 0;
}

@if (Model.ClassAttendanceSettingList == null || Model.ClassAttendanceSettingList.Count<=0)
{
    <div class="alert alert-danger fade in radius-bordered alert-shadowed">
        <i class="fa-fw fa fa-times"></i>
        <strong>Not Found!</strong> There is no class attendance in this Course. Or you don't have sufficient permission.
    </div>
}
else
{
 <div class="widget">
        <div class="widget-header bordered-bottom bordered-sky no-print">
            <i class="widget-icon fa fa-print bold  "></i>
            <span  class="widget-caption "><b>Print Student's Class Attendance </b></span>
            <div class="widget-buttons no-padding-left">
                <button onclick="window.print()" class="btn btn-danger btn-xs"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
        <div class="widget-body no-padding">
            <div class="tabbable">
                <ul class="nav nav-tabs no-print" id="myTab">
                    <li class="active tab-red">
                        <a data-toggle="tab" href="#All" aria-expanded="true">
                            All
                        </a>
                    </li>
                    <li class="tab-red">
                        <a data-toggle="tab" href="#NonCollegiate" aria-expanded="false">
                            Non-Collegiate
                        </a>
                    </li>
                    <li class="tab-red">
                        <a data-toggle="tab" href="#DisCollegiate" aria-expanded="false">
                            Dis-Collegiate
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="All" class="tab-pane active">
                        @Html.Partial("~/Areas/Academic/Views/ClassManager/_PartialPrintAllAttendance.cshtml", Model)
                    </div>
                    <div id="NonCollegiate" class="tab-pane">
                        @Html.Partial("~/Areas/Academic/Views/ClassManager/_PartialPrintNonCollegiateAttendance.cshtml", Model)
                    </div>
                    <div id="DisCollegiate" class="tab-pane">
                        @Html.Partial("~/Areas/Academic/Views/ClassManager/_PartialPrintDisCollegiateAttendance.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<style>
    html{overflow: auto;}
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 1px !important;
        border: 1px solid #000;
    }
</style>
