@using EMS.DataAccess.Data
@using EMS.Framework.Permissions
@using EMS.Framework.Utils
@{
    var hrProfilePageUrl = Url.Action("UpdateEmployee", "ManageEmployee", new { area = "HR" });
    var loginAsStudentUrl = Url.Action("LoginPortalAsStudent", "Student", new { area = "Academic" });
}

<div class="form-title">
    User Credential Information
</div>
<div class="row">
<div class="col-md-12">
    <div class="row">
        <div class="col-md-8 table-form">
            <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                <tbody>
                <tr>
                    <td class="fieldlabel">Active Status</td>
                    <td class="fieldarea">
                        <select ng-model="Account.@User_Account.Property_UserStatusEnumId"
                                ng-options="option.Id as option.Name for option in UserStatusEnumList" title="Select User Status" ng-init="" class="form-control">
                            <option value="" label="" class="">---Select One---</option>
                        </select>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select User Status." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr ng-show="Account.@User_Account.Property_UserStatusEnumId==@((byte)User_Account.UserStatusEnum.LockedWithReason)">
                    <td class="fieldlabel">Lock Reason </td>
                    <td class="fieldarea">
                        <input type="text" ng-model="Account.@User_Account.Property_LockReason"
                               class="form-control" placeholder="Enter Lock Reason" />
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Lock Reason." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td class="fieldlabel">Is Approved?</td>
                    <td class="fieldarea">
                        <div class="checkbox">
                            <label>
                                <input ng-model="Account.@User_Account.Property_IsApproved" class="checkbox-slider yesno slider-icon colored-purple" name="form-field-checkbox" type="checkbox" value="true">
                                <input name="form-field-checkbox" type="hidden" value="false"><span class="text"></span>
                            </label>
                        </div>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Approved if required." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td class="fieldlabel">Is User Can Edit Profile? </td>
                    <td class="fieldarea">
                        <div class="checkbox">
                            <label>
                                <input ng-model="Account.@User_Account.Property_IsUserCanEditProfile" class="checkbox-slider yesno slider-icon colored-purple" name="form-field-checkbox" type="checkbox" value="true">
                                <input name="form-field-checkbox" type="hidden" value="false"><span class="text"></span>
                            </label>
                        </div>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is User Can Edit Profile if required." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td class="fieldlabel">Is Document Pending? </td>
                    <td class="fieldarea">
                        <div class="checkbox">
                            <label>
                                <input ng-model="Account.@User_Account.Property_IsDocumentPending" class="checkbox-slider yesno slider-icon colored-purple" name="form-field-checkbox" type="checkbox" value="true">
                                <input name="form-field-checkbox" type="hidden" value="false"><span class="text"></span>
                            </label>
                        </div>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Document Pending if required." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td class="fieldlabel">Is Profile Completed? </td>
                    <td class="fieldarea">
                        <div class="checkbox">
                            <label>
                                <input ng-model="Account.@User_Account.Property_IsProfileCompleted" class="checkbox-slider yesno slider-icon colored-purple" name="form-field-checkbox" type="checkbox" value="true">
                                <input name="form-field-checkbox" type="hidden" value="false"><span class="text"></span>
                            </label>
                        </div>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Profile Completed if required." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td class="fieldlabel">Is Admission Fee Paid? </td>
                    <td class="fieldarea">
                        <div class="checkbox">
                            <label>
                                <input ng-model="Account.@User_Student.Property_IsAdmissionFeePaid" class="checkbox-slider yesno slider-icon colored-purple" name="form-field-checkbox" type="checkbox" value="true">
                                <input name="form-field-checkbox" type="hidden" value="false"><span class="text"></span>
                            </label>
                        </div>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Admission Fee Paid if required." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td class="fieldlabel">Is Fees Verified? </td>
                    <td class="fieldarea">
                        <div class="checkbox">
                            <label>
                                <input ng-model="Account.@User_Student.Property_IsFeesVerified" class="checkbox-slider yesno slider-icon colored-purple" name="form-field-checkbox" type="checkbox" value="true">
                                <input name="form-field-checkbox" type="hidden" value="false"><span class="text"></span>
                            </label>
                        </div>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Fees Verified if required." data-toggle="tooltip"></i></span></td>*@
                </tr>

                

                <tr>
                    <td class="fieldlabel">Password</td>
                    <td class="fieldarea" colspan="2">
                        <i ng-if="Account.@User_Account.Property_Password==''"  style="padding-left: 11px;">(Password Changed by User)</i>
                        <span ng-if="Account.@User_Account.Property_Password!=''" style="padding-left: 11px;">{{Account.@User_Account.Property_Password}}</span>
                    @*</td>
                    <td style="width: 175px;" class="fieldarea">*@

                    <div class="pull-right margin-right-10">
                        <button type="submit" ng-click="resetPassword()" name="command" value="Reset and Send Password" class="btn btn-default">
                            Reset and Send Password
                        </button>
                        @if(PermissionUtil.HasPermission(PermissionCollection.AdmissionArea.StudentManager.Student.CanSendEmail))
                        {
                            <button ng-if="Account.@User_Account.Property_Password!=''" type="submit" ng-click="sendPassword()" value="Reset" class="btn btn-default">
                                Send Password
                            </button>
                        }
                    </div>
                    </td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Password." data-toggle="tooltip"></i></span></td>*@
                </tr>
                
                <tr>
                    <td class="fieldlabel">Last Password Changed On </td>
                    <td class="fieldarea">
                        <span class="padding-l-10">{{Account.@User_Account.Property_LastPasswordChangedDate|date:'d/M/yy h:mm a'}}</span>
                     </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Last Password Changed Date." data-toggle="tooltip"></i></span></td>*@
                </tr>
                    <tr>
                        <td class="fieldlabel">Last Login On </td>
                        <td class="fieldarea">
                            <span class="padding-l-10">{{Account.@User_Account.Property_LastLoginDate |date:'d/M/yy h:mm a'}}</span>
                          </td>
                        <td class="fieldarea"></td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Last Login Date." data-toggle="tooltip"></i></span></td>*@
                    </tr>
                <tr>
                    <td class="fieldlabel">Last Lockout On </td>
                    <td class="fieldarea">
                        <span class="padding-l-10">{{Account.@User_Account.Property_LastLockoutDate |date:'d/M/yy h:mm a'}}</span>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Last Lockout Date." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td class="fieldlabel">Failed Password Count </td>
                    <td class="fieldarea">
                        <input type="number" ng-model="Account.@User_Account.Property_FailedPasswordAttemptCount" class="form-control" placeholder="Enter Failed Password Attempt Count"/>
                    </td>
                    <td class="fieldarea">

                        <button type="submit" 
                                ng-click="Account.@User_Account.Property_FailedPasswordAttemptCount=0"
                                name="command" value="Reset" class="btn btn-default">
                            Set To Zero
                        </button>
                    </td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Failed Password Attempt Count." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td class="fieldlabel">Failed Password Window Start </td>
                    <td class="fieldarea">
                        <span class="padding-l-10">{{Account.@User_Account.Property_FailedPasswordAttemptWindowStart|date:'d/M/yy h:mm a'}}</span>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Failed Password Attempt Window Start." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td class="fieldlabel">Failed Pass. Ans. Count </td>
                    <td class="fieldarea">
                        <input type="number" ng-model="Account.@User_Account.Property_FailedPasswordAnswerAttemptCount" class="form-control" placeholder="Enter Failed Password Answer Attempt Count"/>
                    </td>
                    <td class="fieldarea">

                        <button type="submit" 
                                ng-click="Account.@User_Account.Property_FailedPasswordAnswerAttemptCount=0"
                                name="command" value="Reset" class="btn btn-default">
                            Set To Zero
                        </button>
                    </td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Failed Password Answer Attempt Count." data-toggle="tooltip"></i></span></td>*@
                </tr>
                <tr>
                    <td style="width: 185px;" class="fieldlabel">Failed Pass. Ans. Window Start </td>
                    <td class="fieldarea">
                        <span class="padding-l-10">{{Account.@User_Account.Property_FailedPasswordAnswerAttemptWindowStart|date:'d/M/yy h:mm a'}}</span>
                    </td>
                    <td class="fieldarea"></td>
                    @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Failed Password Answer Attempt Window Start." data-toggle="tooltip"></i></span></td>*@
                </tr>

                </tbody>
            </table>
        </div><!--Col end-->
        <div class="col-md-4 table-form ">
                <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                    <tbody>
                        <tr>
                            <td class="fieldlabel">Migration Status</td>
                            <td class="fieldarea">
                                <span ng-show="Account.@User_Account.Property_IsMigrate" title="Migrated from Old Database">Migrated</span>
                                <span ng-hide="Account.@User_Account.Property_IsMigrate">New</span>
                            </td>
                            @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Migrate if required." data-toggle="tooltip"></i></span></td>*@
                        </tr>
                        <tr ng-show="Account.@User_Account.Property_IsMigrate">
                            <td class="fieldlabel">Migration Id </td>
                            <td class="fieldarea">
                                <input type="text" ng-bind="Account.@User_Account.Property_MigrationId"
                                       ng-disabled="true"
                                       class="form-control" placeholder="" />
                            </td>
                            @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Migration Id." data-toggle="tooltip"></i></span></td>*@
                        </tr>
                    <!--dropdown option for EnumList-->
                    <tr>
                        <td class="fieldlabel">User Type </td>
                        <td class="fieldarea">
                            <select ng-model="Account.@User_Account.Property_UserTypeEnumId"
                                    ng-disabled="true"
                                    ng-options="option.Id as option.Name for option in UserTypeEnumList" title="Select User Type" ng-init="" class="form-control">
                                <option value="" label="" class="">---Select One---</option>
                            </select>
                        </td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select User Type." data-toggle="tooltip"></i></span></td>*@
                    </tr>
                    <tr>
                        <td class="fieldlabel">Emaill Verified? </td>
                        <td class="fieldarea">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="Account.@User_Account.Property_IsVerifiedUserEmaill" class="checkbox-slider yesno slider-icon colored-purple" name="form-field-checkbox" type="checkbox" value="true">
                                    <input name="form-field-checkbox" type="hidden" value="false"><span class="text"></span>
                                </label>
                            </div>
                        </td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Varified User Emaill if required." data-toggle="tooltip"></i></span></td>*@
                    </tr>
                    <!--dropdown option for EnumList-->
                    <tr>
                        <td class="fieldlabel">Email Privacy </td>
                        <td class="fieldarea">
                            <select ng-model="Account.@User_Account.Property_UserEmailPrivacyEnumId"
                                    ng-options="option.Id as option.Name for option in UserContactPrivacyEnumList" title="Select User Email Privacy" ng-init="" class="form-control">
                                <option value="" label="" class="">---Select One---</option>
                            </select>
                        </td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select User Email Privacy." data-toggle="tooltip"></i></span></td>*@
                    </tr>
                    <tr>
                        <td class="fieldlabel">Mobile No. Verified? </td>
                        <td class="fieldarea">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="Account.@User_Account.Property_IsVerifiedUserMobile" class="checkbox-slider yesno slider-icon colored-purple" name="form-field-checkbox" type="checkbox" value="true">
                                    <input name="form-field-checkbox" type="hidden" value="false"><span class="text"></span>
                                </label>
                            </div>
                        </td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Varified User Mobile if required." data-toggle="tooltip"></i></span></td>*@
                    </tr>
                    <tr>
                        <td class="fieldlabel">Mobile No. Privacy </td>
                        <td class="fieldarea">
                            <select ng-model="Account.@User_Account.Property_UserMobilePrivacyEnumId"
                                    ng-options="option.Id as option.Name for option in UserContactPrivacyEnumList" title="Select User Mobile Privacy" ng-init="" class="form-control">
                                <option value="" label="" class="">---Select One---</option>
                            </select>
                        </td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select User Mobile Privacy." data-toggle="tooltip"></i></span></td>*@
                    </tr>
                    <tr>
                        <td class="fieldlabel">Is Force Two Factor Auth? </td>
                        <td class="fieldarea">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="Account.@User_Account.Property_IsForceTwoFactorAuth" class="checkbox-slider yesno slider-icon colored-purple" name="form-field-checkbox" type="checkbox" value="true">
                                    <input name="form-field-checkbox" type="hidden" value="false"><span class="text"></span>
                                </label>
                            </div>
                        </td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Varified User Mobile if required." data-toggle="tooltip"></i></span></td>*@
                    </tr>
                    <tr>
                        <td class="fieldlabel">Active Rf id No </td>
                        <td class="fieldarea">
                            <input type="text" ng-model="Account.@User_Account.Property_ActiveRfidNo"
                                   class="form-control" placeholder="Enter Active Rf id No" />
                        </td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Varified User Mobile if required." data-toggle="tooltip"></i></span></td>*@
                    </tr>
                    </tbody>
                </table>
                <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                    <tbody>
                        <tr>
                            <td class="fieldlabel">Last Changed By</td>
                            <td class="fieldarea">
                                <a target="_blank" href="@(hrProfilePageUrl)?id={{Account.@User_Account.Property_LastChangedById}}&empId={{Account.@User_Account.Property_LastChangedById}}">
                                    <span style="padding-left: 11px;">{{Account.LastChangedByFullName}} [{{Account.LastChangedByUserName}}]</span>
                                </a>
                            </td>
                            @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Last Changed By Id." data-toggle="tooltip"></i></span></td>*@
                        </tr>
                        <tr>
                            <td class="fieldlabel">Last Changed</td>
                            <td class="fieldarea">
                                <span style="padding-left: 11px;">{{Account.@User_Account.Property_LastChanged|date:'d/M/yy h:mm a'}}</span>
                                
                            </td>
                            @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Last Changed." data-toggle="tooltip"></i></span></td>*@
                        </tr>
                    <tr>
                        <td class="fieldlabel">Create By </td>
                        <td class="fieldarea">
                            <a target="_blank" href="@(hrProfilePageUrl)?id={{Account.@User_Account.Property_CreateById}}&empId={{Account.@User_Account.Property_CreateById}}">
                                <span style="padding-left: 11px;">{{Account.CreateByFullName}} [{{Account.CreateByUserName}}]</span>
                            </a>
                        </td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Create By Id." data-toggle="tooltip"></i></span></td>*@
                    </tr>
                    <tr>
                        <td class="fieldlabel">Create Date</td>
                        <td class="fieldarea">
                            <span style="padding-left: 11px;">{{Account.@User_Account.Property_CreateDate|date:'d/M/yy h:mm a'}}</span>
                        </td>
                        @*<td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Create Date." data-toggle="tooltip"></i></span></td>*@
                    </tr>

                    <tr align="center">
                        <td colspan="2">
                            <a href="@(loginAsStudentUrl)/?studentUserId={{Account.@User_Account.Property_Id}}" class="btn btn-warning btn-xs"><i class="fa fa-arrow-right" target="_blank"></i> Login to Student's Portal</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>






</div><!--Row end-->